[
  { "ParameterKey": "OIDCIssuerURL", "ParameterValue": "{{.OIDCIssuerURL}}" },
  { "ParameterKey": "OIDCAudience",  "ParameterValue": "{{.OIDCAudience}}" },
  { "ParameterKey": "RoleName",      "ParameterValue": "CUDly-{{.AccountSlug}}" }
]
